/*-------------------/
  @ Reset
/-------------------*/

*           { margin:0;padding:0;border:0;outline:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:separate;border-spacing:0;}
*:focus         { outline: none}
::selection       { background: #eee; opacity:1.0; color:#000; padding:10px; /* Safari */ }

@font-face {
    font-family: 'dinbold';
    src: url('din_bold-webfont.eot');
    src: url('http://wiki.xxiivv.com/img/fonts/din_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://wiki.xxiivv.com/img/fonts/din_bold-webfont.woff') format('woff'),
         url('http://wiki.xxiivv.com/img/fonts/din_bold-webfont.ttf') format('truetype'),
         url('http://wiki.xxiivv.com/img/fonts/din_bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'din_lightregular';
    src: url('din_light-webfont.eot');
    src: url('http://wiki.xxiivv.com/img/fonts/din_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://wiki.xxiivv.com/img/fonts/din_light-webfont.woff') format('woff'),
         url('http://wiki.xxiivv.com/img/fonts/din_light-webfont.ttf') format('truetype'),
         url('http://wiki.xxiivv.com/img/fonts/din_light-webfont.svg#din_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'din_mediumregular';
    src: url('din_medium-webfont.eot');
    src: url('http://wiki.xxiivv.com/img/fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://wiki.xxiivv.com/img/fonts/din_medium-webfont.woff') format('woff'),
         url('http://wiki.xxiivv.com/img/fonts/din_medium-webfont.ttf') format('truetype'),
         url('http://wiki.xxiivv.com/img/fonts/din_medium-webfont.svg#din_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('din-webfont.eot');
    src: url('http://wiki.xxiivv.com/img/fonts/din-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://wiki.xxiivv.com/img/fonts/din-webfont.woff') format('woff'),
         url('http://wiki.xxiivv.com/img/fonts/din-webfont.ttf') format('truetype'),
         url('http://wiki.xxiivv.com/img/fonts/din-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; 
}